html {
    scroll-behavior: smooth;
}
/**, *::before, *::after{*/
/*    scrollbar-width: 0 !important;*/
/*    scrollbar-color: #ffffff;*/
/*}*/
/*::-webkit-scrollbar{*/
/*    display: none !important;*/
/*    width: 0 !important;*/
/*    background-color: #10141E;*/
/*}*/
/*::-webkit-scrollbar-thumb{*/
/*    display: none !important;*/
/*    border-radius: 0.375rem;*/
/*    background: #ffffff;*/
/*    border: 0 solid #10141E;*/
/*}*/
body {
    /*background-image: linear-gradient(to bottom right, #FF4359 10%, #AA1439, #68192F, #53192A, #000000 90%);*/
    /*background-repeat: no-repeat;*/
    background-color: #150707;
    overflow-x: hidden;
    color: #ffffff;
}